# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
dateutil=2.1=py27_2
freetype=2.4.10=1
ipython=3.0.0=py27_0
ipython-notebook=3.0.0=py27_1
jinja2=2.7.3=py27_1
jsonschema=2.4.0=py27_0
libpng=1.5.13=1
libsodium=0.4.5=0
markupsafe=0.23=py27_0
matplotlib=1.4.3=np19py27_0
mistune=0.5=py27_0
numpy=1.9.2=py27_0
openssl=1.0.1k=0
pip=6.0.8=py27_0
ptyprocess=0.4=py27_0
pygments=2.0.2=py27_0
pyparsing=2.0.3=py27_0
python=2.7.9=1
python.app=1.2=py27_3
pytz=2014.9=py27_0
pyzmq=14.5.0=py27_0
readline=6.2=2
setuptools=12.3=py27_0
six=1.9.0=py27_0
sqlite=3.8.4.1=0
ssl_match_hostname=3.4.0.2=py27_0
terminado=0.5=py27_0
tk=8.5.15=0
tornado=4.1=py27_0
zeromq=4.0.4=0
zlib=1.2.8=0
